@use '/src/styles/variables';
@use '/src/styles/mixins';

#header {
    height: variables.$headerHeight;
    @include mixins.flex(null, center);
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-background);

    > div {
        width: calc(calc(100% - 20px) / 3);
        height: 100%;
    }

    .leftContent {
        @include mixins.flex(left, center);
    }

    .middleContent {
        @include mixins.flex(center, center);
    }

    .rightContent {
        @include mixins.flex(right, center);
    }

    @media screen and (max-width: 750px) and (min-width: 401px) {
        .leftContent {
            width: fit-content;
        }

        .middleContent {
            flex-grow: 1;
            justify-content: left;
        }
	}    

    @media screen and (max-width: 400px) {
        height: variables.$headerHeightMobile;
	}  
}