@import "https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@700&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,300&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap";

/* Font families */
$gameTitleFontFamiliy: "Noto Serif NP Hmong", serif;
$defaultFontFamily: "Open Sans", sans-serif;

/* Colors */
$color-tone-1: #ffffff;
$color-tone-2: #818384;
$color-tone-3: #565758;
$color-tone-4: #3a3a3c;
$color-tone-5: #272729;
$color-tone-6: #1a1a1b;
$color-tone-7: #121213;
$color-tone-8: #ffffff;
$color-tone-9: #424242;
$color-tone-10: #dfdfdf;
$darken-yellow: #b59f3b;
$darken-green: #538d4e;

/* Dimensions */
$headerHeight: 65px;

/* Margin and Padding */
$headerPaddingHorizontal: 20px; 
