@use './mixins';
@use './variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	transition: background-color 0.15s linear, color 0.15s linear;
}

:root {
	@include mixins.themify(variables.$themes, light);

	&.theme-dark {
		@include mixins.themify(variables.$themes, dark);
	}
}

body {
	background-color: var(--color-background);
}

a, button {
	all: unset;
	cursor: pointer;
}