@use '/src/styles/mixins';

#home {
    @include mixins.flex(null, center);
    flex-direction: column;
    gap: 0;
    position: relative;

    .toastContainer {
        position: absolute;
        width: 100%;
        height: 70%;
        @include mixins.flex(null, center);
        flex-direction: column;
        overflow-y: hidden;
        gap: 0.4rem;
    }
}