
$fontMd: 20px;
$fontLg: 24px;
$fontXl: 30px;
$tabletScreenDecreaseValue: 4px;
$mobileScreenDecreaseValue: $tabletScreenDecreaseValue * 2;

.icon {
    color: var(--text-color);

    &.md {
        font-size: $fontMd
    }

    &.lg {
        font-size: $fontLg
    }

    &.xl {
        font-size: $fontXl
    }

    // tablet
    @media screen and (max-width: 750px) {
        &.md {
            font-size: $fontMd - $tabletScreenDecreaseValue
        }
    
        &.lg {
            font-size: $fontLg - $tabletScreenDecreaseValue
        }
    
        &.xl {
            font-size: $fontXl - $tabletScreenDecreaseValue
        }
	} 
    
    // mobile
    @media screen and (max-width: 500px) {
        &.md {
            font-size: $fontMd - $mobileScreenDecreaseValue
        }
    
        &.lg {
            font-size: $fontLg - $mobileScreenDecreaseValue
        }
    
        &.xl {
            font-size: $fontXl - $mobileScreenDecreaseValue
        }
	}   
}